<br><br>
<br><br>
<main>
  <section class="py-5 text-center container">
    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="pb-4 mb-4 fst-italic border-bottom">
    
          </h2>
          <h2> Ruby on Rails: </h2>
          <p>
          The Ruby language, together with the Rails framework, comes as the flagship in my work as a developer, because through it we develop full stack projects (front and back-end). Having Rails as a working base, we also use other languages to further boost our work, such as: Html, Css, JavaScript, Ajax, React. 
          </p>
          <h2>The Power of Back-End: Ruby on Rails:</h2>
          <p>
          Through this powerful language, the developer Programs, codes and tests systems in Ruby on Rails. Performs systems maintenance, making any necessary corrections, in order to meet the needs of users. Develops works of assembly, debugging and testing of programs, performing maintenance services on programs already developed.
          </p>
          <h3></h3>
          <p>
            
          </p>
          <hr>
  </section>
</main>