<br><br>
<br><br>
<main>
  <section class="py-5 text-center container">
    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="pb-4 mb-4 fst-italic border-bottom">
    
          </h2>
          <h2> Ruby on Rails: </h2>
          <p>
          A linguagem Ruby junto com o framework Rails, vem como o carro chefe em meu trabalho como desenvolvedor, pois atravês dela desenvolvemos projetos full stack (front e back-end).
          Tendo como base de trabalho o Rails, usamos também outras linguagens para turbinar ainda mais nossos trabalhos, como: Html, Css, JavaScript, Ajax, React. 
          </p>
          <h2>O poder do Back-End: Ruby on Rails:</h2>
          <p>
          Atravês dessa poderosa linguagem, o desenvolvedor Programa, codifica e testa sistemas em Ruby on Rails. Executa a manutenção dos sistemas, fazendo eventuais correções necessárias, visando atender às necessidades dos usuários. Desenvolve trabalhos de montagem, depuração e testes de programas, executando serviços de manutenção nos programas já desenvolvidos.
          </p>
          <h3></h3>
          <p>
            
          </p>
          <hr>
  </section>
</main>