<br><br><br>
<main>
  <section class="py-5 text-center container">
    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="pb-4 mb-4 fst-italic border-bottom">
          Ruby on Rails:
          </h2>
          <h2> Freelancer: </h2>
          <p>Trabalhamos em projetos Freelancers, via portal upwork.com .</p>
          <h2>Contrato PJ/PJ:</h2>
          <p>Os contratos empresariais PJ/PJ é o nosso principal método de trabalho.</p>
          <h3>Vantagens de ser PJ em TI:</h3>
          <p>
            A formalização é uma opção vantajosa por si só, pois legaliza seu negócio e traz mais confiança para quem
            está contratando seus serviços.
            Outros vantagens para optar por ser PJ em TI são:
          </p>
          <ul>
            <li>Pagamentos</li>
            <li>Negociação e benefícios</li>
            <li>Rotina flexível</li>
            <li>Planejamento do futuro</li>
          </ul>
          <hr>
          <h2>Formação Acadêmica:</h2>
          <p>Sou um profissional com formação em nível superior em
            <u>Gestão de tecnologia da informação</u> pela faculdade Fapan em dezembro de 2017.
          </p>
          <h3>Certificações profissionais:</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Instituição</th>
                <th>Carga Horária/Ano</th>
                <th>Certificação</th>
              </tr>
            </thead>
            <tbody>
              <h5><u>Cursos em HTML e CSS:</u></h5>
              <tr>
                <td>Curso in Vídeo</td>
                <td>40 hs/2021</td>
                <td>Avançado em HTML5, CSS3.</td>
              </tr>
              <tr>
                <td>Digital Innovation One Inc.</td>
                <td>6 hs/2021</td>
                <td>Introdução a criação de websites com HTML5 e CSS3.</td>
              </tr>
              <tr>
                <td>Digital Innovation One Inc.</td>
                <td>04 hs/2021</td>
                <td>Construindo páginas para internet com Bootstrap.</td>
              </tr>
              <tr>
                <td>Udemy</td>
                <td>9,5 hs/2021</td>
                <td>Bootstrap 4.</td>
              </tr>
              <tr>
                <td>Digital Innovation One Inc.</td>
                <td>02 hs/2021</td>
                <td>Recriando a página inicial do Instagram.</td>
              </tr>
            </tbody>
          </table>
          <br>
          <table class="table">
            <thead>
              <tr>
                <th>Instituição</th>
                <th>Carga Horária/Ano</th>
                <th>Certificação</th>
              </tr>
            </thead>
            <tbody>
              <h5><u>Cursos em Reactjs:</u></h5>
              <tr>
                <td>Digital Innovation One Inc.</td>
                <td>2 hs/2022</td>
                <td>Trabalhando com Componentes em React.</td>
              </tr>
              <tr>
                <td>Udemy.</td>
                <td>22,5 hs/2022</td>
                <td>React do zero ao Avançado na prática.</td>
              </tr>
              <tr>
                <td>Udemy</td>
                <td>07 hs/2022</td>
                <td>React + Bootstrap 5.</td>
              </tr>
              <tr>
                <td>Udemy</td>
                <td>05 hs/2022</td>
                <td>React JS consumindo REST API RESTful.</td>
              </tr>
              <tr>
                <td>ONE BIT Code - <br>(Escola de programadores)</td>
                <td>60 hs/2021</td>
                <td><u>Programador Full Stack JavaScript/Reactjs:</u>
                  <h6> Curso completo, carga horária dividida em módulos de HTML, CSS,
                    SASS Bootstrap, Bulma, Git Hub, Javascript moderno(ES6), Reactjs, Nodejs, Mongo e projetos.
                  </h6>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead>
              <tr>
                <th>Instituição</th>
                <th>Carga Horária/Ano</th>
                <th>Certificação</th>
              </tr>
            </thead>
            <tbody>
              <h5><u>Cursos em Ruby on Rails</u></h5>
              <tr>
                <td>Udemy</td>
                <td>54 hs/2021</td>
                <td>Ruby on Rails 4.x - Curso Completo.</td>
              </tr>
              <tr>
                <td>Udemy.</td>
                <td>23,5 hs/2022</td>
                <td>JavaScript and Ruby on Rails with React, Angular, and Vue.</td>
              </tr>
              <tr>
                <td>Udemy</td>
                <td>4,5 hs/2022</td>
                <td>Complete Guide to Payments with Ruby on Rails 6 (Stripe API).</td>
              </tr>
              <tr>
                <td>One Bit Code</td>
                <td>06 hs/2022</td>
                <td>Ruby Puro - Básico.</td>
              </tr>
              <tr>
                <td>Leitura completa do <br> "Livro Agile Web Development with Rails 6" </td>
                <td></td>
                <td><u>Programação Ruby on Rails/React</u>
                  <h6> Leitura completa desse livro, que ensina a desenvolver uma aplicação de
                    loja virtual em Rails,com integração com Reactjs, Ajax e a linguagem pura Ruby.
                  </h6>
                </td>
              </tr>
              <tr>
                <td>Udemy</td>
                <td>2,5 hs/2022</td>
                <td>Rest API com Ruby on Rails 6.</td>
              </tr>
              <tr>
                <td>Udemy</td>
                <td>8,5 hs/2022</td>
                <td>Banco de Dados: Da modelagem à SQL com PostgreSQL</td>
              </tr>
              <tr>
                <td>XP Educação</td>
                <td>Quatro modulos divididos em 8 semanas/Setembro/2022.</td>
                <td>Bootcamp - Engenheiro(a) de Software Ágil - Em andamento.</td>
              </tr>
            </tbody>
          </table>

        </article>
        <article class="blog-post">
          <h2 class="blog-post-title mb-1">SKILLS - Habilidades Principais:</h2>
          <p>
            - Especialidade em front-end no desenvolvimento de interfaces e sites responsivos em Html, Css,
            Java Script, com frameworks design Bulma e bootstrap. Estudando e aprofundando conhecimentos
            em integração de APIS no Reactjs.
            <hr>
            - Especialidade no desenvolvimento de aplicações de web: Full Stack Developer | Ruby on Rails.
            <hr>
            - Desenvolvimento de API Rests.
          </p>
          <h2>Extras:</h2>
          <ul>
            <li>IDES: Visual Code e Vim.</li>
            <li>Git e Github.</li>
            <li>Hospedagens Heroku, Locaweb e Netlfy.</li>
            <li>Registro de domínios: Registro.Br.</li>
          </ul>
        </article>

        <hr>
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
          <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
        </nav>

      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">Information:</h4>
            <p class="mb-0">
              I'm passionate about Full Stack Developer Development | Ruby on Rails, and deepening my knowledge of
              APIS integration with Reactjs.
              <hr>
              Sou apaixonado por Desenvolvimento Full Stack Developer | Ruby on Rails, e aprofundando meus
              conhecimentos em integração de APIS com Reactjs.
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>