<br><br>
<br><br>
<main>
  <section class="py-5 text-center container">
    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="pb-4 mb-4 fst-italic border-bottom">
    
          </h2>
          <h2> Ruby on Rails: </h2>
          <p>
          A linguagem Ruby, juntamente com o framework Rails, 
          vem como carro-chefe no meu trabalho como desenvolvedor, 
          pois através dela desenvolvemos projetos full stack (front e back-end). 
          Tendo Rails como base de trabalho, utilizamos também outras linguagens para 
          potencializar ainda mais nosso trabalho, como: Html, Css, JavaScript, Ajax, React.
          </p>
          <h2>O poder do back-end: Ruby on Rails:</h2>
          <p>
     Através desta poderosa linguagem, o desenvolvedor Programa, codifica e testa sistemas em Ruby on Rails. Efetua a manutenção dos sistemas, efetuando as correções necessárias, de forma a atender as necessidades dos usuários. 
     Desenvolve trabalhos de montagem, depuração e teste de programas, realizando serviços de manutenção em programas já desenvolvidos.
          </p>
          <hr>
          <h2>Nossos Serviços:</h2>
          <br>
          <h3><u>Nossas atividades e responsabilidades:</u></h3>
          <p>
- Desenvolver novos produtos, funcionalidades e integrações, 
mantendo ou melhorando os padrões de qualidade de software, no Front-End e Back-End.
          </p>
          <p>
- Projetar, desenvolver e testar novos recursos;
          </p>
          <p>
- Manter e melhorar a base de código atual corrigindo bugs rapidamente e refatorando códigos problemáticos quando necessário;
          </p>
          <p>
- Escrever testes unitários e integrar novos recursos e correções de bugs;
          </p>
          <h3><u>Tipos de Aplicações de web:</u></h3>
          <h4>Sites institucionais, empresáriais com caracteristicas:</h4> 
          <p>- Interface responsiva adaptada ao qualquer dispositivo;</p> 
          <p>- Página de contatos, com formulários para envio de e-mais;</p>
          <p>- Links com integração com as redes sociais;</p>
          <p>- Links para integração com whattsap bussiness;</p>
          <p>- Integração nas pesquisas do google ads.</p>

          <h4>Lojas Virtuais(E-commerces), institucionais, empresáriais com caracteristicas:</h4>
          <p>- Carrinho de compras, com a tecnologia de páginas spa(ajax e reactjs);</p> 
          <p>- Formulários para pagamento via cartão de crédito;</p>
          <p>- Área restrita com login e senha;</p>
          <p>- Aplicação com painel administrativo;
          <p>- Aplicação conectada ao banco de dados;</p>
          <p>- Interface responsiva adaptada ao qualquer dispositivo;</p> 
          <p>- Página de contatos, com formulários para envio de e-mais;</p>
          <p>- Links com integração com as redes sociais;</p>
          <p>- Links para integração com whattsap bussiness;</p>
          <p>- Integração nas pesquisas do google ads.</p>

          <h4>Sistemas de Cadastro de usuários, aplicações financeiras(CRUDS) institucionais e empresáriais com caracteristicas:</h4>
          <p>- Cadastro de usuários, produtos, clientes, preços e muito mais;</p>
          <p>- Aplicação conectada ao banco de dados;</p>
          <p>- Área restrita com login e senha;</p>
          <p>- Aplicação com painel administrativo;
          <p>- Interface responsiva adaptada ao qualquer dispositivo.</p>

          <h4>Desenvolvimento de APIS Resfull Rails, com caracteristicas:</h4>
          <p>- Cadastro de usuários, produtos, clientes, preços e muito mais.</p>

          <h4>Nossos Conhecimentos:</h4>
          <p>- Estrutura front-end: Html, CSS, JS, Bootstrap;</p>
          <p>- Integrações SPA (Ajax e React);</p>
          <p>- Ruby on Rails;</p>
          <p>- Programação orientada a objetos;
          <p>- Bancos de dados;</p>
          <p>- TDD - Minitest e Rspec;</p>
          <p>- API's RESTfull rails; </p>
          <p>- Postman; </p>
          <p>- Nuvem Heroku; </p>
          <p>- Versionamento Git/Github; </p>
          <p>- Visual Code; </p>
          <p>- Linux. </p>
  </section>
</main>