<br>
<br>
<br>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Aplicações Cruds</h1>
        <p class="lead text-muted">
          
        </p>
      </div>
    </div>

    <div class="album py-5 bg-light">
      <div class="container">
         <div>
          <%= image_tag 'pagina-em-construcao.png' =%>
        </div>
      </div>
  </section>
</main>