<br><br>
<br><br>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Sobre nós</h1>
                <p class="lead text-muted">
                    A Miranda Web Tecnologia é uma pequena microempresa de TI,
                    prestadora de serviços web, que nasceu no coração do desenvolvedor
                    e empreendedor digital Fabricio Miranda. Nesta página mostraremos toda nossa
                    metodologia de trabalho.
                </p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <p class="card-text mb-auto">Fabricio Miranda</p>
                            <p class="card-text mb-auto">Curitiba-Paraná-Brasil</p>
                            <strong class="d-inline-block mb-2 text-primary">| Full Stack Developer | Ruby on Rails |
                                Reactjs Jr.</strong>
                            <strong class="d-inline-block mb-2 text-primary">| Desenvolvedor Front-End |
                                Reactjs Jr.</strong>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <%= image_tag 'fabfoto2.jpg' =%>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Contatos</strong>
                            <p class="card-text mb-auto">E-mail: mirandawebtecnologia@gmail.com</p>
                            <p class="card-text mb-auto">linkedin.com/fabrício-miranda</p>
                            <p class="card-text mb-auto">instagram.com/fabricio_n_miranda</p>
                            <p class="card-text mb-auto">github.com/fbrnery</p>
                            <p class="card-text mb-auto">Telefone: (41) 98850-3832</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <%= image_tag 'rails-react.png' =%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-md-8">
                    <article class="blog-post">
                        <h2 class="pb-4 mb-4 fst-italic border-bottom">Início</h2>
                        <p>
                            Natural de Belém do Pará, a metropole da Amazônia, o profissional Fabricio Miranda
                            atua em tecnologia há 18 anos, onde exerceu algumas funções em variadas empresas, como
                            auxiliar
                            administrativo em planilhas no excel, estágios em cpds, analista de TI em empresas de
                            suporte técnico.
                        </p>
                        <p>
                            Como programador, comecou como desenvolvedor front-end no ano de
                            2009, na cidade de Belém-Pa, na empresa Inforcompany, onde trabalhou até 2015.
                            Em 2016, regularizou firma própria para se torna prestador de serviços PJ/PJ,
                            freelancers em serviços desenvolvimento de web. Em 2020, começou a atuar com a poderosa
                            linguagem de
                            Programação Ruby e o framework Rails, o famoso "Ruby on Rails", onde atuou em projetos
                            freelancers, desenvolvedo aplicações de web.
                        </p>
                        <h2> Ruby on Rails: </h2>
                        <h5>Principal linguagem que trabalhamos !!!</h5>
                        <p>
                            A linguagem Ruby, juntamente com o framework Rails,
                            vem como carro-chefe do nosso trabalho como programação,
                            pois através dela desenvolvemos projetos full stack (front, back-end e Apis Restfull).
                            Tendo Rails como base de trabalho, utilizamos também outras linguagens e frameworks para
                            potencializar ainda mais nosso trabalho, como: Html, Css, JavaScript, Ajax, React, NodeJs, ExpressJs.
                        </p>
                        <h2>O poder do back-end: Ruby on Rails:</h2>
                        <p>
                            Através desta poderosa linguagem, o desenvolvedor Programa, codifica e testa sistemas em
                            Ruby on Rails. Efetua a manutenção dos sistemas, efetuando as correções necessárias, de
                            forma a atender as necessidades dos usuários.
                            Desenvolve trabalhos de montagem, depuração e teste de programas, realizando serviços de
                            manutenção em programas já desenvolvidos.
                        </p>
                        <h4><u>Formas de Contratação:</u></h4>
                        <p> - Contratos freelancers; </p>
                        <p> - Estágios; </p>
                        <p> - Contratos CLT; </p>
                        <p> - Contratos empresariais PJ/PJ. </p>
                          <hr>
                        <h2>Nossos Serviços:</h2>
                        <br>
                        <h3><u>Nossas atividades e responsabilidades:</u></h3>
                        <p>
                            - Desenvolver novos produtos, funcionalidades e integrações,
                            mantendo ou melhorando os padrões de qualidade de software, no Front-End e Back-End.
                        </p>
                        <p>
                            - Projetar, desenvolver e testar novos recursos;
                        </p>
                        <p>
                            - Manter e melhorar a base de código atual corrigindo bugs rapidamente e refatorando códigos
                            problemáticos quando necessário;
                        </p>
                        <p>
                            - Escrever testes unitários e integrar novos recursos e correções de bugs;
                        </p>
                        <h3><u>Tipos de Aplicações de web:</u></h3>
                        <h4>Sites institucionais, empresáriais com caracteristicas:</h4>
                        <p>- Interface responsiva adaptada ao qualquer dispositivo;</p>
                        <p>- Página de contatos, com formulários para envio de e-mais;</p>
                        <p>- Links com integração com as redes sociais;</p>
                        <p>- Links para integração com whattsap bussiness;</p>
                        <p>- Integração nas pesquisas do google ads.</p>

                        <h4>E-commerces (lojas virtuais), institucionais, empresáriais com caracteristicas:</h4>
                        <p>- Carrinho de compras, com a tecnologia de páginas spa(ajax e reactjs);</p>
                        <p>- Formulários para pagamento via cartão de crédito;</p>
                        <p>- Área restrita com login e senha;</p>
                        <p>- Aplicação com painel administrativo;
                            <p>- Aplicação conectada ao banco de dados;</p>
                            <p>- Interface responsiva adaptada ao qualquer dispositivo;</p>
                            <p>- Página de contatos, com formulários para envio de e-mais;</p>
                            <p>- Links com integração com as redes sociais;</p>
                            <p>- Links para integração com whattsap bussiness;</p>
                            <p>- Integração nas pesquisas do google ads.</p>

                            <h4>Sistemas de Cadastro de usuários, aplicações financeiras(CRUDS) institucionais e
                                empresáriais com caracteristicas:</h4>
                            <p>- Cadastro de usuários, produtos, clientes, preços e muito mais;</p>
                            <p>- Aplicação conectada ao banco de dados;</p>
                            <p>- Área restrita com login e senha;</p>
                            <p>- Aplicação com painel administrativo;
                                <p>- Interface responsiva adaptada ao qualquer dispositivo.</p>

                                <h4>Desenvolvimento de APIS Resfull Rails, com caracteristicas:</h4>
                                <p>- Cadastro de usuários, produtos, clientes, preços e muito mais.</p>
                                <h4>Consumo APIS Resfull Ruby on Rails:</h4>
                                <p>- No front-end ReactJs.</p>
                                <h4>Nossos Conhecimentos:</h4>
                                <p>- Estrutura front-end: Html, CSS, JS, Bootstrap;</p>
                                <p>- Integrações SPA (Ajax e React);</p>
                                <p>- Ruby on Rails;</p>
                                <p>- Programação orientada a objetos;
                                    <p>- Bancos de dados;</p>
                                    <p>- TDD - Minitest e Rspec;</p>
                                    <p>- API's RESTfull rails; </p>
                                    <p>- Postman; </p>
                                    <p>- Nuvem Heroku; </p>
                                    <p>- Versionamento Git/Github; </p>
                                    <p>- Visual Code; </p>
                                    <p>- Linux. </p>
    </section>
</main>