<br>
<br>
<br>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">About Us</h1>
        <p class="lead text-muted">
          Miranda Web Tecnologia is a small IT micro-company, providing web services, which was born in the heart of
          developer and digital entrepreneur Fabricio Miranda. On this page we will show all our work methodology and
          professional training.
        </p>
      </div>
    </div>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">| Full Stack Developer | Ruby on Rails | Reactjs</strong>
              <p class="card-text mb-auto">Fabricio Miranda</p>
              <p class="card-text mb-auto">Age: 35 years</p>
              <p class="card-text mb-auto">Current City: Curitiba-Paraná</p>
              <p class="card-text mb-auto">Country: Brazil</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <%= image_tag 'fabfoto2.jpg' =%>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Contatos</strong>
              <p class="card-text mb-auto">E-mail: fbrnery@gmail.com</p>
              <p class="card-text mb-auto">@linkedin.com/fabrício-miranda</p>
              <p class="card-text mb-auto">@github.com/fbrnery</p>
              <p class="card-text mb-auto">Tel/Zap: (91) 98249-9720</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <%= image_tag 'rails-react.png' =%>

            </div>
          </div>
        </div>
      </div>

      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">About me:</h3>
          <article class="blog-post">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Work methodology:</h3>
            <h2> Freelancer: </h2>
            <p>We work on freelance projects via the upwork.com portal .</p>
            <h2>PJ/PJ Contract:</h2>
            <p>PJ/PJ business contracts is our main method of work.</p>
            <h3>Advantages of being a PJ in IT:</h3>
            <p>
              Formalization is an advantageous option in itself, as it legalizes your business and brings more
              confidence to those who are contracting your services.
              Other advantages of choosing to be a PJ in IT are:
            </p>
            <ul>
              <li>Payments</li>
              <li>Negotiation and benefits</li>
              <li>flexible routine</li>
              <li>future planning</li>
            </ul>
            <hr>
            <h2>Academic education:</h2>
            <p>
            I am a professional with higher education in
            <u>Information technology management</u>
            by Fapan College in December 2017.
            </p>
            <h3>Professional certifications:</h3>
            
            <br>
            <table class="table">
              <thead>
                <tr>
                  <th>Institution</th>
                  <th>Credit Hours/Year</th>
                  <th>Certification</th>
                </tr>
              </thead>
              <tbody>
                <h5><u>Courses in Reactjs:</u></h5>
                <tr>
                  <td>Digital Innovation One Inc.</td>
                  <td>2 hs/2022</td>
                  <td>Working with Components in React.</td>
                </tr>
                <tr>
                  <td>Udemy.</td>
                  <td>22,5 hs/2022</td>
                  <td>React from zero to Advanced in practice.</td>
                </tr>
                <tr>
                  <td>ONE BIT Code - <br>(School of programmers)</td>
                  <td>60 hs/2021</td>
                  <td><u>Full Stack JavaScript/Reactjs programmer:</u>
                    <h6> 
                    Complete course, workload divided into modules of HTML, CSS, SASS Bootstrap, Bulma, Git Hub, modern Javascript (ES6), Reactjs, Nodejs, Mongo and projects.
                    </h6>
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="table">
              <thead>
                <tr>
                  <th>Institution</th>
                  <th>Credit Hours/Year</th>
                  <th>Certification</th>
                </tr>
              </thead>
              <tbody>
                <h5><u>Ruby on Rails courses:</u></h5>
                <tr>
                  <td>Udemy</td>
                  <td>54 hs/2021</td>
                  <td>Ruby on Rails 4.x - Curso Completo.</td>
                </tr>
                <tr>
                  <td>Udemy.</td>
                  <td>23,5 hs/2022</td>
                  <td>JavaScript and Ruby on Rails with React, Angular, and Vue.</td>
                </tr>
                <tr>
                  <td>Udemy</td>
                  <td>4,5 hs/2022</td>
                  <td>Complete Guide to Payments with Ruby on Rails 6 (Stripe API).</td>
                </tr>
                <tr>
                  <td>One Bit Code</td>
                  <td>06 hs/2022</td>
                  <td>Ruby Puro - Básico.</td>
                </tr>
                <tr>
                  <td>Udemy</td>
                  <td>15,5 hs/Nov2022</td>
                  <td>TDD WITH RUBY ON RAILS, RSPEC AND CAPYBARA</td>
                </tr>
                <tr>
                  <td>Udemy</td>
                  <td>2,5 hs/AGO2022</td>
                  <td>Rest API with Ruby on Rails 6.</td>
                </tr>

              </tbody>
            </table>

            <table class="table">
              <thead>
                <tr>
                  <th>Books</th>
                  <th>Period/Year</th>
                  <th>Authors</th>
                </tr>
              </thead>
              <tbody>
                <h5><u>Readings in Ruby on Rails.</u></h5>
                <tr>
                  <td>Rails 3 Basics: A Beginner's Guide to Building Applications</td>
                  <td>DEZ 2012 - FEV 2013</td>
                  <td>Cloves Carneiro Jr e Rilda Al Barazi.</td>
                </tr>
                <tr>
                  <td>AGILE DEVELOPMENT WITH RAILS 6</td>
                  <td>JUN 2022 - JUL 2022</td>
                  <td>Sam Ruby, David Bryant Copeland with Dave Thomas..</td>
                </tr>
              </tbody>
            </table>

          </article>
          <article class="blog-post">
            <h2 class="blog-post-title mb-1">SKILLS - Main Skills:</h2>
            <p>
              - Front-end expertise in developing interfaces (UI and UX) and responsive institutional websites in Html, Css, Java Script, Reactjs with Bulma design frameworks and bootstrap. Studying and deepening knowledge in APIS integration in Reactjs.
              <hr>
              - Specialty in web application development: Back-End and Full Stack Developer | Ruby on Rails |.
              <hr>
              - Development of Restful APIs in Ruby on Rails.
            </p>
            <h2>Extras:</h2>
            <ul>
              <li>Agile methodologies: Scrum.</li>
              <li>Cloud Computing: Heroku Specialist.</li>
              <li>IDES: Visual Code and Vim.</li>
              <li>Git e Github.</li>
              <li>Domain registration: Registro.Br.</li>
            </ul>
          </article>

          <hr>
          <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
            <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
          </nav>

        </div>

        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="fst-italic">Information:</h4>
              <p class="mb-0">
                I'm passionate about Full Stack Developer Development | Ruby on Rails, and deepening my knowledge of
                APIS integration with Reactjs.
                <hr>
                Sou apaixonado por Desenvolvimento Full Stack Developer | Ruby on Rails, e aprofundando meus
                conhecimentos em integração de APIS com Reactjs.
              </p>
            </div>
            <div class="p-4">
              <h4 class="fst-italic">Contact us</h4>
              <ol class="list-unstyled">
                <li><a href="https://github.com/fbrnery" target="_blank">GitHub</a></li>
                <li><a href="https://twitter.com/FabricioNeryde1/?ref=settings" target="_blank"><i
                      class="fa fa-twitterfa-2">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/fabr%C3%ADcio-miranda-87319a137/" target="_blank"><i
                      class="fa fa-linkedin fa-2">Linkedin</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>