<br>
<br>
<br>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Sobre nós</h1>
        <p class="lead text-muted">
         A Miranda Web Tecnologia é uma pequena microempresa de TI, 
         prestadora de serviços web, que nasceu no coração do desenvolvedor 
         e empreendedor digital Fabricio Miranda. Nesta página mostraremos toda nossa 
         metodologia de trabalho e formação profissional.
        </p>
      </div>
    </div>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">| Full Stack Developer | Ruby on Rails | Reactjs</strong>
              <p class="card-text mb-auto">Fabricio Miranda</p>
              <p class="card-text mb-auto">Idade: 35 anos</p>
              <p class="card-text mb-auto">Cidade Atual: Curitiba-Paraná</p>
              <p class="card-text mb-auto">País: Brasil</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <%= image_tag 'fabfoto2.jpg' =%>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Contatos</strong>
              <p class="card-text mb-auto">E-mail: fbrnery@gmail.com</p>
              <p class="card-text mb-auto">@linkedin.com/fabrício-miranda</p>
              <p class="card-text mb-auto">@github.com/fbrnery</p>
              <p class="card-text mb-auto">Tel/Zap: (91) 98249-9720</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <%= image_tag 'rails-react.png' =%>

            </div>
          </div>
        </div>
      </div>

      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">Sobre nós:</h3>
          <article class="blog-post">
            <p>
             Sou Tecnólogo da Informação, formado no curso superior de tecnologia em Gestão de TI 
             pela Faculdade Fapan em dezembro de 2017, e atualmente sou desenvolvedor full Stack em Ruby on Rails/Reactjs JR.
            </p>
            <h4><u>Atuação no mercado de TI:</u></h4>
             Trabalho com tecnologia há de 18 anos, onde exerci algumas funções em variadas empresas, como auxiliar
             administrativo na Ancora Serviços empresariais, estagiário no setor cpd na industria Ortobom, analista de suporte em urnas eletrônicas
             tercerizado para TRE-PA.
            </p>
            <p>
              Como programador, comecei como desenvolvedor front-end no ano de
              2009, na cidade de Belém-Pa, na empresa Inforcompany, onde trabalhei até 2015. 
              Em 2016, regularizei firma própria para me torna prestador de serviços PJ/PJ, 
              freelancers com desenvolvimentos de sites institucionais e integrações com as redes
              sociais destes mesmos. Em 2020, ampliei meus serviços de desenvolvimento com projetos
              Back-End and Full Stack Developer | Ruby on Rails |, nesse período,
              desenvolvir alguns projetos freelancers de loja virtuais, como a
              StoreBooks, OnStore Notebooks, Studio Sapataria.
            </p>
            <p>
            Com dois anos de experiências em projetos freelancer Ruby on Rails, considero que
            estou no nível de senioridade de junior para pleno, procurando cada vez mais
            aumentar meus conhecimentos e crescimento profissional. Hoje, estou em busca de 
            uma oportunidade de trabalhar em um time de desenvolvimento em uma grande empresa, 
            como desenvolvedor full stack em Ruby on Rails/React.
            </p>
            <h4><u>Um pouco da trajetória na linguagem Ruby on Rails:</u></h4>
            <p>
            Depois de alguns anos trabalhando como desenvolvedor front-end, entre os anos de 2009 e 2012, 
            resolvir aprofundar meus conhecimentos para área de back-end na linguagem Ruby e framework Rails,
            em novembro de 2012, fui a cidade do Rio de Janeiro, realizar um curso RoR-71(Ruby para iniciante)
            na instituição Caelum, já no ano seguinte, realizei a leitura do livro Rails 3 - Básico,
            nos anos seguintes continuei os estudos realizando cursos na plataforma Udemy.  Meu último livro estudado 
            na linguagem: foi "AGILE DEVELOPMENT WITH RAILS 6", umas leituras mais importantes, para qualquer programador rails.

            <h3><u>Certificações profissionais:</u></h3>
            <br>
            <table class="table">
              <thead>
                <tr>
                  <th>Instituição</th>
                  <th>Horas/Ano</th>
                  <th>Certificação</th>
                </tr>
              </thead>
              <tbody>
                <h5><u>Cursos:</u></h5>
                <tr>
                  <td>Udemy</td>
                  <td>54 hs/Jun-2018</td>
                  <td>Ruby on Rails 4.x - Curso Completo.</td>
                </tr>
                <tr>
                  <td>Udemy.</td>
                  <td>23,5 hs/Jan-2019</td>
                  <td>JavaScript and Ruby on Rails with React, Angular, and Vue.</td>
                </tr>
                <tr>
                  <td>One Bit Code</td>
                  <td>06 hs/Jan-2020</td>
                  <td>Ruby Puro - Básico.</td>
                </tr>
                <tr>
                  <td>Udemy</td>
                  <td>15,5 hs/Jun-2020</td>
                  <td>TDD WITH RUBY ON RAILS, RSPEC AND CAPYBARA</td>
                </tr>
                <tr>
                  <td>Udemy</td>
                  <td>2,5 hs/Jul-2022</td>
                  <td>Rest API with Ruby on Rails 6.</td>
                </tr>
                <tr>
                  <td>One Bit Code</td>
                  <td>50 hs/2022</td>
                  <td>Programador Full Stack JavaScript (html, css, Js, APIs Node,express e Reactjs)</td>
                </tr>
                <tr>
                  <td>One Bit Code</td>
                  <td>50 hs/2023</td>
                  <td>Cursando Bootcamp One Bit Code - Ruby on Rails - Reactjs - React native - 50
Hrs - De API restful ruby on rails ao consumo no react e ao mobile no react native.</td>
                </tr>

              </tbody>
            </table>

            <table class="table">
              <thead>
                <tr>
                  <th>Livros</th>
                  <th>Período/Ano</th>
                  <th>Autores</th>
                </tr>
              </thead>
              <tbody>
                <h5><u>Leituras em Ruby on Rails:</u></h5>
                <tr>
                  <td>Rails 3 Básico: " Um Guia para iniciantes para a construção de aplicações web"</td>
                  <td>FEV-2013 à JUL-2013</td>
                  <td>Cloves Carneiro Jr e Rilda Al Barazi.</td>
                </tr>
                <tr>
                  <td>"AGILE DEVELOPMENT WITH RAILS 6"</td>
                  <td>JUN 2020 - Set 2020</td>
                  <td>Sam Ruby, David Bryant Copeland with Dave Thomas.</td>
                </tr>
              </tbody>
            </table>

          </article>
          <article class="blog-post">
            <h2 class="blog-post-title mb-1">SKILLS:</h2>
             <h4>- Especialidade no desenvolvimento front-end: sites e interfaces responsivas (UI e UX):</h4>
             <p> - HTML. </p>
             <p> - CSS. </p>
             <p> - Java Script. </p>
             <p> - Reactjs. </p>
             <p> - Bootstrap. </p>
             <p> - Aprofundando conhecimentos em integração de APIS com Reactjs.</p>
             <p> - Integração com as redes sociais. </p>
              <hr>
              <h4>Especialidade em desenvolvimento de aplicações web Ruby on Rails:</h4> 
              <p>- Back-End (cruds).</p> 
              <p>- Full Stack em aplicações Rails/React.</p>
              <p>- Desenvolvimento de APIs Restful.</p>
              <p>- TDD: Minitest e Rspec.</p>
              <p>- Banco: Postgreql.</p>
              <p>- Cloud: Heroku.</p>
              <hr>
            </p>
            <h2>Extras:</h2>
            <ul>
              <li>Metodologias ágeis: Scrum.</li>
              <li>IDES: Visual Code and Vim.</li>
              <li>Git e Github.</li>
              <li>Domain registration: Registro.Br.</li>
            </ul>
          </article>

          <hr>
          <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#">topo</a>
          </nav>

        </div>

        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="fst-italic">Information:</h4>
              <p class="mb-0">
                I'm passionate about Full Stack Developer Development | Ruby on Rails, and deepening my knowledge of
                APIS integration with Reactjs.
                <hr>
                Sou apaixonado por Desenvolvimento Full Stack Developer | Ruby on Rails, e aprofundando meus
                conhecimentos em integração de APIS com Reactjs.
              </p>
            </div>
            <div class="p-4">
              <h4 class="fst-italic">Contatos</h4>
              <ol class="list-unstyled">
                <li><a href="https://github.com/fbrnery" target="_blank">GitHub</a></li>
                <li><a href="https://twitter.com/FabricioNeryde1/?ref=settings" target="_blank"><i
                      class="fa fa-twitterfa-2">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/fabr%C3%ADcio-miranda-87319a137/" target="_blank"><i
                      class="fa fa-linkedin fa-2">Linkedin</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>