<br>
<br>
<br>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Sobre Nós</h1>
        <p class="lead text-muted">
        A Miranda Web Tecnologia, é uma pequena micro-empresa de TI, prestadora de serviços de web, que nasceu
        no coração de desenvolvedor e empreendedor digital Fabricio Miranda. Nessa página iremos mostrar toda
        nossa metodologia de trabalho, formação profissional e experiências.
        </p>
      </div>
    </div>
    <br>
    <br>

<div class="container-fluid">
     <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Back-end Developer | Ruby on Rails | Reactjs</strong>
          <p class="card-text mb-auto">Fabricio Miranda</p>
          <p class="card-text mb-auto">Idade: 34 anos</p>
          <p class="card-text mb-auto">naturalidade: Santarém-Pa</p>
          <p class="card-text mb-auto">Cidade Atual: Belém-Pa</p>
        </div>
        <div class="col-auto d-none d-lg-block">
         <%= image_tag 'fabfoto2.jpg' =%>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
           <strong class="d-inline-block mb-2 text-primary">Contatos</strong>
          <p class="card-text mb-auto">E-mail: fbrnery@gmail.com</p>
          <p class="card-text mb-auto">@linkedin.com/fabrício-miranda</p>
          <p class="card-text mb-auto">@github.com/fbrnery</p>
          <p class="card-text mb-auto">@twitter.com/FabricioNeryde1</p>
        </div>
        <div class="col-auto d-none d-lg-block">
           <%= image_tag 'rails-react.png' =%>

        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">Sobre mim:</h3>
      <article class="blog-post">
       <h3 class="pb-4 mb-4 fst-italic border-bottom">Metodologia de Trabalho:</h3>
        <h2> Freelancer: </h2>
        <p>Trabalhamos em projetos Freelancers, via portal upwork.com .</p>
        <h2>Contrato PJ/PJ:</h2>
        <p>Os contratos empresariais PJ/PJ é o nosso principal método de trabalho.</p>
        <h3>Vantagens de ser PJ em TI:</h3>
        <p>
        A formalização é uma opção vantajosa por si só, pois legaliza seu negócio e traz mais confiança para quem está contratando seus serviços. 
        Outros vantagens para optar por ser PJ em TI são:
        </p>
        <ul>
          <li>Pagamentos</li>
          <li>Negociação e benefícios</li>
          <li>Rotina flexível</li>
          <li>Planejamento do futuro</li>
        </ul>
         <hr>
        <h2>Formação Acadêmica:</h2>
        <p>Sou um profissional com formação em nível superior em Gestão de tecnologia da informação pela faculdade Fapan em dezembro de 2017.</p>
        <h3>Certificações profissionais:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Instituição</th>
              <th>Carga Horária/Ano</th>
              <th>Certificação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Curso in Vídeo</td>
              <td>40 hs/2021</td>
              <td>Avançado em HTML5, CSS3.</td>
            </tr>
            <tr>
              <td>Digital Innovation One Inc.</td>
              <td>60 hs/2021</td>
              <td>Introdução a criação de websites com HTML5 e CSS3.</td>
            </tr>
            <tr>
              <td>Digital Innovation One Inc.</td>
              <td>10 hs/2021</td>
              <td>Lógica de Programação Essencial.</td>
            </tr>
            <tr>
              <td>Digital Innovation One Inc.</td>
              <td>04 hs/2021</td>
              <td>Introdução ao Git e ao GitHub.</td>
            </tr>
            <tr>
              <td>Digital Innovation One Inc.</td>
              <td>04 hs/2021</td>
              <td>Introdução ao JavaScript.</td>
            </tr>
            <tr>
              <td>Digital Innovation One Inc.</td>
              <td>10 hs/2022</td>
              <td>Funções em Javascript.</td>
              <tr>
              <td>Digital Innovation One Inc.</td>
              <td>05 hs/2022</td>
              <td>Sintaxe Básica em JavaScript.</td>
              <tr>
              <td>Digital Innovation One Inc.</td>
              <td>06 hs/2022</td>
              <td>Javascript - Variáveis e Tipos.</td>
              <tr>
              <td>Digital Innovation One Inc.</td>
              <td>06 hs/2022</td>
              <td>Java Script - Sintaxe e Operadores.</td>
              </tr>
              <td>Digital Innovation One Inc.</td>
              <td>10 hs/2022</td>
              <td>Construindo páginas para internet com Bootstrap.</td>
            </tr>
              <td>Digital Innovation One Inc.</td>
              <td>10 hs/2022</td>
              <td>Trabalhando com Componentes em React.</td>
            </tr>
              <td>Udemy</td>
              <td>22,5 hs/2022</td>
              <td>React Js do zero ao avançado na pratica.</td>
            </tr>
              <td>OneBitCode</td>
              <td>60 hs/2022</td>
              <td>Curso Full stack Javascript + Node + Reactjs.</td>
            </tr>
              <td>OneBitCode</td>
              <td>5 hs/2022</td>
              <td>Ruby Puro.</td>
            </tr>
             <td>Livro Ruby on Rails</td>
              <td>2022</td>
              <td>Agile Web Development with Rails 6.</td>
              </tr>
              <td>IGTI/XP</td>
              <td>cursando/2022</td>
              <td> Bootcamp - Engenheiro(a) de Software Ágil.</td>
            </tr>
            </tr>
          </tbody>
        </table>
      </article>
      <article class="blog-post">
        <h2 class="blog-post-title mb-1">SKILLS - Habilidades Principais:</h2>
        <p>
        - Especialidade em front-end no desenvolvimento de interfaces e sites responsivos em Html, Css, 
        Java Script, com frameworks design Bulma, bootstrap e biblioteca Js: Reactjs.
          <hr>
         - Especialidade no desenvolvimento de aplicações de web: Back-end Developer | Ruby on Rails | React.
        </p>
        <h2>Extras:</h2>
        <ul>
          <li>IDES: Visual Code e Vim.</li>
          <li>Git e Github.</li>
          <li>Hospedagens Heroku, Locaweb e Netlfy.</li>
          <li>Registro de domínios: Registro.Br.</li>
        </ul>
      </article>
      <hr>
      <article class="blog-post">
        <h2 class="blog-post-title mb-1">Experiências:</h2>
        <p>
        </p>
      </article>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about 
          your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>
        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  </div>
    </section>
    </main>

