<h4>Olá, em breve teremos o prazer de responder senhor(a): <%= @contato.nome %>,
assunto: <%= @contato.assunto %>,
<br>
e-mail: <%= @contato.email %>,
<br>
</h4>
Obrigado por seu contato com a Miranda Web.
